# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example::
#
#     pip install -r requirements.pip

candv>=1.2.0
il2fb-commons>=0.9.8
pyparsing>=2.0.2
six>=1.6.1
verboselib>=0.1.0
